<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <property name="LOG_PATH" value="logs"/>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} %X{X-Nav-CallId} [%thread] %-5level %class{36}.%M %L - %msg%n
            </Pattern>
        </layout>
    </appender>
    <appender name="SAVE-TO-FILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_PATH}/eux-rina-irsync.log</file>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} %X{X-Nav-CallId} [%thread] %-5level %class{36}.%M %L - %msg%n
            </Pattern>
        </layout>
<!--        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>-->
    </appender>

    <appender name="http" class="com.splunk.logging.HttpEventCollectorLogbackAppender">
        <url>http://localhost:5555</url>
        <token>11111111-2222-3333-4444-555555555555</token>
        <source>splunktest</source>
        <sourcetype>battlecat</sourcetype>
        <messageFormat>text</messageFormat>
        <middleware>HttpEventCollectorUnitTestMiddleware</middleware>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%msg</pattern>
        </layout>
    </appender>
    <root level="INFO">
        <appender-ref ref="stdout"/>
        <appender-ref ref="SAVE-TO-FILE"/>
        <appender-ref ref="http"/>
    </root>

</configuration>
